@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --default-font-family: sans-serif;
}

@layer base {
  html,
  body {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

/* @font-face {
  font-family: "";
  src: url("./assets/fonts/");
} */
